      h1 {
            color: #3282B8;
            font-family:'Courier New';
        }  
        
      body {
            background-color: #BBE1FA;
        }
p{ color: #1B262C;
font-family:'Courier New';}
#shirah {float:left; 
      margin-right:10px;}
#shirah2{float:right;
          margin-left:10px;}
#shirah3{ margin-right:10px;
      margin-left:10px;
width:300px;}
#shirah4{float:left;
      margin-right:10px;
width:300px;}
#aboutme{width: 1024px;}
#javascripts{width: 1024px;}
#home{width: 1024px;
}

#guidingeyes{color:#88caf6;}
           
      
